# Vim swap files
*.swp

# Editor backup files
*~

# ctags
TAGS

# Verilator build directory
tb/obj_dir/
tb/obj_dir_fp4/
tb/obj_dir_fp8/
tb/obj_dir_m2/

# Test Unit Vectors
tb/fp4_unit_vectors.hex
tb/fp8_unit_vectors.hex
tb/m2_unit_vectors.hex

# Simulation files
tb/tb_mxdotp_core.vcd